.DS_Store
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
auth.json
docker/config/drivers/ibm_data_server_driver_package_linuxx64_v11.5.tar.gz
docker/config/drivers/linuxx64_odbc_cli.tar.gz
docker/mysql/db/
docker/postgres/db
errors/
node_modules
npm-debug.log
vendor
yarn-error.log
